



































.table {
  display: flex;
  margin: 0 auto;
  padding-left: 0;
  width: 1100px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  list-style-type: none;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding-top: 20px;
}
.table__cell {
  vertical-align: top;
  width: 250px;
  padding-top: 60px;
}


.khan__container {
  width: 80%;
  margin: 0 auto;
}
.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}
.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}
.khan__quote {
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 50px;
  margin-bottom: 0;
}
.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 0;
}
.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
}
.khan__book-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 68px;
}
.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
}
.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
}








.section-title_theme_dark {
  margin-top: 90px;
  color: white;
}
.section-subtitle_theme_dark {
  color: white;
}
.table_theme_dark {
  display: flex;
  margin: 0 auto 90px auto;
  padding-left: 0;
  width: 1100px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  padding-top: 80px;
  margin: 0;
  vertical-align: top;
}
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: 877px 877px;
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: -1;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
}


.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 0 auto;
}
.resources__logo {
  width: 270px;
  height: 38px;
}



.footer__columns {
  width: 90%;
  margin: 60px auto 40px auto;
  display: flex;
  justify-content: space-between;
}
.footer__column_content_copyright{
  flex-basis: 710px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo_place_footer {
  width: 183px;
  height: 35px;
  align-self: flex-start;
}
.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 18px;
  margin-top: 18px;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.header__link:hover {
	background: slategray;
	color: springgreen;
}
.feynman__link:hover {
	background: slategray;
	color: springgreen;
}
.footer__column-link:hover {
	background: slategray;
	color: springgreen;
}
